## Задание 2

### На складе лежат разные фрукты в разном количестве.
- Нужно написать функцию, которая на вход принимает любое количество названий фруктов и их количество, а возвращает общее количество фруктов на складе

In [3]:

def fruit_quantity(**kwargs) -> float:
    sum: float = 0
    for name, quantity in kwargs.items():
        sum += quantity
    return sum
        
fruits = {'Orange': 1, 'Strawberry': 2.5, 'Apples': 7.2, 'lemon': 2}
fruit_quantity(**fruits)

12.7

## Задание 3

### Дан список с затратами на рекламу. Но в данных есть ошибки, некоторые затраты имеют отрицательную величину. Удалите такие значения из списка и посчитайте суммарные затраты
### [100, 125, -90, 345, 655, -1, 0, 200]
#### Используйте list comprehensions

In [4]:
adv_costs = [100, 125, -90, 345, 655, -1, 0, 200]
adv_costs_clean = [i for i in adv_costs if i >= 0]
adv_costs_clean

[100, 125, 345, 655, 0, 200]

In [5]:
sum(adv_costs_clean)

1425

## Задание 4

### Даны два списка.
- Дата покупки
['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
- Суммы покупок по датам
[1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]

### 4.1 Найдите, какая выручка у компании в ноябре
Используйте list comprehensions

In [8]:

sum_of_purchases = [1270, 8413, 9028, 3703, 5739, 4095, 295, 4944, 5723, 3701, 4471, 651, 7037, 4274, 6275, 4988, 6930, 2971, 6592, 2004, 2822, 519, 3406, 2732, 5015, 2008, 316, 6333, 5700, 2887]
sum_of_purchases

[1270,
 8413,
 9028,
 3703,
 5739,
 4095,
 295,
 4944,
 5723,
 3701,
 4471,
 651,
 7037,
 4274,
 6275,
 4988,
 6930,
 2971,
 6592,
 2004,
 2822,
 519,
 3406,
 2732,
 5015,
 2008,
 316,
 6333,
 5700,
 2887]

In [9]:
dates = ['2021-09-14', '2021-12-15', '2021-09-08', '2021-12-05', '2021-10-09', '2021-09-30', '2021-12-22', '2021-11-29', '2021-12-24', '2021-11-26', '2021-10-27', '2021-12-18', '2021-11-09', '2021-11-23', '2021-09-27', '2021-10-02', '2021-12-27', '2021-09-20', '2021-12-13', '2021-11-01', '2021-11-09', '2021-12-06', '2021-12-08', '2021-10-09', '2021-10-31', '2021-09-30', '2021-11-09', '2021-12-13', '2021-10-26', '2021-12-09']
dates

['2021-09-14',
 '2021-12-15',
 '2021-09-08',
 '2021-12-05',
 '2021-10-09',
 '2021-09-30',
 '2021-12-22',
 '2021-11-29',
 '2021-12-24',
 '2021-11-26',
 '2021-10-27',
 '2021-12-18',
 '2021-11-09',
 '2021-11-23',
 '2021-09-27',
 '2021-10-02',
 '2021-12-27',
 '2021-09-20',
 '2021-12-13',
 '2021-11-01',
 '2021-11-09',
 '2021-12-06',
 '2021-12-08',
 '2021-10-09',
 '2021-10-31',
 '2021-09-30',
 '2021-11-09',
 '2021-12-13',
 '2021-10-26',
 '2021-12-09']

In [13]:
november_list = [sum_of_purchases[i] for i in range(len(sum_of_purchases)) if dates[i].split('-')[1] == '11']
november_list

[4944, 3701, 7037, 4274, 2004, 2822, 316]

In [14]:
sum(november_list)

25098

### 4.2 Найдите выручку компании в зависимости от месяца
#### Для этого напишите функцию, которая на вход принимает список с датами и список с выручкой, а на выходе словарь, где ключи - это месяцы, а значения - это выручка.
Используйте аннотирование типов.

In [16]:
def dict_create(list1 : list, list2_dates: list) -> dict:
    new_dict = {}
    for i in range(len(list1)):
        key = list2_dates[i].split('-')[1]
        if key in new_dict.keys():
            value = new_dict[key] + list1[i]
        else:
            value = list1[i]
        new_dict.update({key: value})
    return new_dict

dict_create(sum_of_purchases, dates)

{'09': 25647, '12': 45452, '10': 28645, '11': 25098}